.App {
  text-align: center;
  position: relative;
}
div {
  display: flex;
  flex-direction: column;
}

.MapContainer {
  position: relative;
}

.petalPath {
  text-align: justify;
}

.loading_spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ControlBar {
  display: flex;
  position: fixed;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  padding: 2px;
  align-items: center;
  justify-content: space-evenly;
  background-color:lightblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.47);
}


@media only screen and (max-width: 400px) {
  .ControlBar {
    flex-direction: column;
    align-items: center;
  }
  .modal-wrapper {
    display: flex;
    flex-direction: row;
  }
  .modal {
    flex-direction: column!important;
  }
}

.App-link {
  color: #bfd5db;
}
#loading-spinner {
  animation-name: loading-spinner;
}
@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tool-Tip {
  display: hidden;
}

.Tool-Tip:hover {
  display: block;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.5);
}


h2 {
  font-weight: bold;
  font-size: x-large;
}

h3 {
  font-weight: bold;
  font-size: larger;
}

h4 {
  font-weight: bold;
}

/* unvisited link */
a {
  color: #0000EE;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #551A8B;
}

/* mouse over link */
a:hover {
  color: #EE0000;
}

/* selected link */
a:active {
  color: blue;
}

.modal {
  max-width: 990px;
  background: rgba(255, 255, 255, 0.5);
  height: 80vmax;
  margin: 20px auto;
  display: flex;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: 5em, 80%, 1fr;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-direction: row;
  cursor: pointer;
  justify-items: stretch;
}

.modal_png {
  width: auto;
  height: auto;
  object-fit: contain;
}
.button {
  position: absolute;
  align-self: flex-start;
  top: 0.5em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.47);
}

.footer {
  display: flex;
  position: bottom;
  grid-column: 1 / -1;
  grid-row: 2;
}

.dimension {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex: 1;
  grid-column: auto;
  grid-row: 1;
  background-position: left;
  background-size: cover;
  transition: .7s;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.47);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}

.dimension_img {
  max-width: 5em;
  max-height: 50%;
  grid-row-start: 1;
  grid-row-end: 2;
}

.dimension h2 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.active, .dimension1:hover {
  background-color: #ccc;
  z-index: 4;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  grid-column: 2fr;
  flex-grow: 3;
}

.active, .component:hover {
  background-color: rgba(160, 80, 80, 0.5);
  z-index: 4;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-grow: 1;
  grid-template-rows: 10% 10% 80%;
  grid-template-areas: 
    "img h3 h3"
    "p p p "
    "i i i"
    "i i i";
}


.component {
  background-color: rgba(160, 80, 80, 0.281);
  cursor: pointer;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 10% 10% 80%;
  grid-template-areas: 
    "img h3 h3"
    "p p p "
    "i i i"
    "i i i";
  flex-direction: column;
  grid-column: auto;
  grid-row: auto;
  min-height: 5em;
  justify-content: center;
  align-items: baseline;
  object-fit: contain;
  z-index: 4;
}

.component h3 {
  grid-area: h3;
  align-self: center;
  justify-self: flex-start;
}

.component1 p {
  grid-area: p;
  align-self: center;
  justify-self: flex-start;
}

.component:hover p {
  display: flex;
  grid-area: p;
  align-self: center;
  justify-self: flex-start;
}

.indicator {
  display: flex;
  grid-area: i;
  grid-row: auto;
  grid-column: auto;
}

.component:hover .indicator {
  display: flex;
  flex-direction: column;
  grid-area: i;
}

.component_img {
  justify-self: center;
  align-self: center;
  max-height: 2em;
  max-width: auto;
  height: auto;
  width: auto;
  grid-area: img;
}

.indicator {
  background-color: rgba(4, 56, 139, 0.47);
}