.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  background-color:lightblue;

}



.App-link {
  color: #bfd5db;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tool-Tip {
  display: hidden;
}

.Tool-Tip:hover {
  display: block;
}