.App {
  text-align: center;
  position: relative;
}
div {
  display: flex;
  flex-direction: column;
}

.MapContainer {
  position: relative;
}

.petalPath {
  text-align: justify;
}

.loading_spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ControlBar {
  display: flex;
  position: fixed;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  padding: 2px;
  align-items: center;
  justify-content: space-evenly;
  background-color:lightblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.47);
}


@media only screen and (max-width: 400px) {
  .ControlBar {
    flex-direction: column;
    align-items: center;
  }
  .modal-wrapper {
    display: flex;
    flex-direction: row;
  }
  .modal {
    flex-direction: column!important;
  }
}

.App-link {
  color: #bfd5db;
}
#loading-spinner {
  animation-name: loading-spinner;
}
@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tool-Tip {
  display: hidden;
}

.Tool-Tip:hover {
  display: block;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.5);
}


h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

.modal {
  max-width: 990px;
  background: rgba(255, 255, 255, 0.5);
  height: 80vmax;
  margin: 20px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-direction: row;
  cursor: pointer;
}

.modal_png {
  width: auto;
  height: auto;
  object-fit: contain;
}
.button {
  position: absolute;
  align-self: flex-start;
  top: 0.5em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.47);
}

.dimension {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex: 1;
  background-position: left;
  background-size: cover;
  transition: .7s;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}

.dimension_img {
  max-width: 10em;
  max-height: 60%;
}

.active, .dimension:hover {
  background-color: #ccc;
  z-index: 4;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-grow: 3;
}

.active, .category:hover {
  background-color: rgba(160, 80, 80, 0.5);
  z-index: 4;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
  flex-grow: 1;
  grid-template-rows: 25% 25% 50%;
  grid-template-areas: 
  "img h3"
  "img p"
  "ind ind";
}


.category {
  cursor: pointer;
  display: grid;
  grid-template-columns: 50%  50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "img h3"
    "img p";
  flex-direction: row;
  min-height: 5em;
  justify-content: center;
  align-items: baseline;
  object-fit: contain;
  z-index: 4;
}

.category h3 {
  grid-area: h3;
  align-self: center;
  justify-self: flex-start;
}

.category p {
  grid-area: p;
  align-self: center;
  justify-self: flex-start;
}

.category:hover p {
  display: flex;
  grid-area: p;
  align-self: center;
  justify-self: flex-start;
}

.indicator-box {
  display: none;
}

.category:hover .indicator-box {
  display: flex;
  grid-area: ind;
}

.category_img {
  justify-self: center;
  align-self: center;
  max-height: 5em;
  max-width: auto;
  height: auto;
  width: auto;
  grid-area: img;
}